<% provide :title, "Contact" %>
<h1><%= t ".contact" %></h1>
<p>
  <%= t ".contactsample" %>
  <a href="http://www.railstutorial.org/contact"><%= t ".contactpage" %></a>.
</p>

<h1 i18n="site header|An introduction header for this sample@@introductionHeader"><%= t ".helloi18n" %></h1>
